<div class="accordion-item">
  <h2 class="accordion-header" id="heading-{{index}}">
    <button class="accordion-button collapsed "  [ngClass]="{'firstChild': firstChild, 'paid' : villaDetails.statusId == 2}"   type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse-'+index"
      aria-expanded="true" [attr.aria-controls]="'collapse-'+index">
      <h4 class="villa-code">{{villaDetails.villa_code}}</h4>
    </button>
  </h2>


  <div id="collapse-{{index}}" class="accordion-collapse collapse "   [attr.aria-labelledby]="'heading-'+index"
    data-bs-parent="#villasAccordion">
    <div class="accordion-body">
      <div class="villa_info">
        <div class="info_bg">

          <div class="row">
            <div class="col-md-4 col-6">
              <h3> {{"Specifications" | translate}}  </h3>
            </div>


            <div class="col-md-4 col-6">
              <h3 class="text-md-center">  {{"status" | translate}}:
                 <span class="status-label"
                 [class]="{'available_status': villaDetails.statusId == 1, 'sold_status': villaDetails.statusId == 2}">
                 {{villaDetails.status | translate}}</span>
                </h3>
            </div>
            <div class="col-md-4">
              <h4 data-bs-toggle="modal" [attr.data-bs-target]="'#modalv-'+index">
                <img src="assets/images/villas/icons/plan.png">
                {{"VillaPlan" | translate}}
              </h4>
            </div>
          </div>
        </div>

        <div class="villa_desc">
          <div class="row w-100 m-0">

            <div class="col-lg-3 col-md-4 col-6">

              <div class="row align-items-center">
                <div class="col-md-9 col-10">
                  <img src="assets/images/villas/icons/lounge.png">
                  <span>صالة    </span>
                </div>
                <div class="col-md-3 col-2">
                  <h6>{{villaDetails.v_hall}} </h6>
                </div>
              </div>


            </div>

            <div class="col-lg-3 col-md-4 col-6">

              <div class="row align-items-center">

                <div class="col-md-9 col-10">
                  <img src="assets/images/villas/icons/sink.png">
                  <span>دورة مياه </span>
                </div>

                <div class="col-md-3 col-2">
                  <h6> {{villaDetails.v_toilet}} </h6>
                </div>

              </div>


            </div>

            <div class="col-lg-3 col-md-4 col-6">

              <div class="row align-items-center">

                <div class="col-md-9 col-10">
                  <img src="assets/images/villas/icons/table.png">
                  <span>جلسة خارجية</span>
                </div>

                <div class="col-md-3 col-2">
                  <h6> {{villaDetails.v_front_terrace}} </h6>
                </div>

              </div>


            </div>

            <div class="col-lg-3 col-md-4 col-6">

              <div class="row align-items-center">

                <div class="col-md-9 col-10">
                  <img src="assets/images/villas/icons/bedroom.png">
                  <span>غرف نوم</span>
                </div>

                <div class="col-md-3 col-2">
                  <h6> {{villaDetails.v_bed_room}}</h6>
                </div>

              </div>


            </div>


            <div class="col-lg-3 col-md-4 col-6">

              <div class="row align-items-center">

                <div class="col-md-9 col-10">
                  <img src="assets/images/villas/icons/closed_lounge.png">
                  <span>صالة معلقة</span>
                </div>

                <div class="col-md-3 col-2">
                  <h6>
                    <app-checkmark-formatter [Value]="villaDetails?.v_inter_hall"> </app-checkmark-formatter>
                  </h6>
                </div>

              </div>


            </div>

            <div class="col-lg-3 col-md-4 col-6">

              <div class="row align-items-center">

                <div class="col-md-9 col-10">
                  <img src="assets/images/villas/icons/kitchen.png">
                  <span>مطبخ</span>
                </div>

                <div class="col-md-3 col-2">
                  <h6>
                    <app-checkmark-formatter [Value]="villaDetails?.v_kitchen"> </app-checkmark-formatter>
                  </h6>
                </div>

              </div>


            </div>

            <div class="col-lg-3 col-md-4 col-6">

              <div class="row align-items-center">

                <div class="col-md-9 col-10">
                  <img src="assets/images/villas/icons/swimming-pool.png">
                  <span>مسبح</span>
                </div>

                <div class="col-md-3 col-2">
                  <h6>

                    <app-checkmark-formatter [Value]="villaDetails?.v_swimming_pool"> </app-checkmark-formatter>

                  </h6>
                </div>

              </div>


            </div>

            <div class="col-lg-3 col-md-4 col-6">

              <div class="row align-items-center">

                <div class="col-md-9 col-10">
                  <img src="assets/images/villas/icons/car-parking.png">
                  <span>مدخل سيارة</span>
                </div>

                <div class="col-md-3 col-2">
                  <h6>
                    <app-checkmark-formatter [Value]="villaDetails?.v_car_intrance"> </app-checkmark-formatter>

                  </h6>
                </div>

              </div>


            </div>

            <div class="col-lg-3 col-md-4 col-6">

              <div class="row align-items-center">

                <div class="col-md-9 col-10">
                  <img src="assets/images/villas/icons/room.png">
                  <span>غرفة سائق</span>
                </div>

                <div class="col-md-3 col-2">
                  <h6>

                    <app-checkmark-formatter [Value]="villaDetails?.v_driver_room"> </app-checkmark-formatter>
                  </h6>
                </div>

              </div>


            </div>

            <div class="col-lg-3 col-md-4 col-6">

              <div class="row align-items-center">

                <div class="col-md-9 col-10">
                  <img src="assets/images/villas/icons/bed.png">
                  <span>غرفة خادمة</span>
                </div>

                <div class="col-md-3 col-2">
                  <h6>
                    <app-checkmark-formatter [Value]="villaDetails?.v_maeed_room"> </app-checkmark-formatter>
                  </h6>
                </div>

              </div>


            </div>

            <div class="col-lg-3 col-md-4 col-6">

              <div class="row align-items-center">

                <div class="col-md-9 col-10">
                  <img src="assets/images/villas/icons/washing-machine.png">
                  <span>غرفة غسيل</span>
                </div>

                <div class="col-md-3 col-2">
                  <h6>
                    <app-checkmark-formatter [Value]="villaDetails?.v_washing_room"> </app-checkmark-formatter>

                  </h6>
                </div>

              </div>


            </div>

            <div class="col-lg-3 col-md-4 col-6">

              <div class="row align-items-center">

                <div class="col-md-9 col-10">
                  <img src="assets/images/villas/icons/antique-balcony.png">
                  <span>بلكونة خارجية</span>
                </div>

                <div class="col-md-3 col-2">
                  <h6>

                    <app-checkmark-formatter [Value]="villaDetails?.v_front_balcony"> </app-checkmark-formatter>


                  </h6>
                </div>

              </div>


            </div>

          </div>

          <div class="row mt-4 area_div">

            <div class="col-md-3">

              <div class="d-flex align-items-center">
                <h5>مساحة الفلة</h5>
                <span>
                  {{villaDetails?.v_space}} م<sup>2</sup>
                </span>
              </div>


            </div>

            <div class="col-md-6">
              <div class="d-flex align-items-center">

                <h5>سعر الفلة</h5>
                <span>
                  {{villaDetails?.v_price??0}}
                ر.س
                </span>
              </div>
            </div>

            <div class="col-md-3 text-end">
              <a href="#" class="btn btn-primary w-100"
              data-bs-toggle="modal"
               [attr.data-bs-target]="'#place-order-villa-form'+villaDetails?.villa_id"> تسجيل اهتمام </a>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<app-villa-modal [modalId]="'v-'+index" [Gallery]="villaDetails.images" Details="villaDetails"></app-villa-modal>
 <!-- Modal  register place-order-Villa-form -->
<div *ngIf="villaDetails" class="modal fade project-modal" [id]="'place-order-villa-form'+villaDetails.villa_id" tabindex="-1"
    aria-labelledby="PlaceOrderVillaFormLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title unit-title" id="PlaceOrderVillaFormLabel">{{'PlaceOrder' | translate}} -
                    {{villaDetails.villa_code}} </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-3">
                <app-place-order-apartment [villa_Ref]="villaDetails?.villa_id" [isVilla]="true"
                    [project_Ref]="villaDetails?.project_Ref"></app-place-order-apartment>
            </div>
        </div>
    </div>
</div>
