<!--===== Start About Section =====-->
<div class="about-us-area" *ngIf="AboutUs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-area ltn__section-title-2--- mb-20">
                    <h1 class="section-title">
                        {{ "saqeefahStory" | translate }} <span></span>
                    </h1>
                    <p [innerHTML]="AboutUs.description"></p>
                </div>
            </div>
            <!-- ----------------test------------------------------- -->
            <section class="section about-text-section about-div" *ngIf="OurVision">
              <div class="container">

                  <div class="row mb-md-5 mb-3 flex-item-center">

                      <div class="col-md-6">
                        <div  class="img-container" [ngStyle]="{'background-image': 'url('+ourvisionUrl+')'}"  > 
                        </div>
                      </div>
                      <div class="col-md-6 about-div-text">
                          <h2>{{OurVision.title}}</h2>

                          <div [innerHTML]="OurVision.description">

                          </div>

                      </div>
                  </div>
                  <div class="row mb-md-5 mb-3" *ngIf="OurStory">

                      <div class="col-md-6  order-md-1">
                          <div class="">
                              <img [src]="setting.appRootUrl+OurStory.imagePath" class="img-fluid">

                          </div>
                      </div>
                      <div class="col-md-6 about-div-text">
                          <h2>{{OurStory.title}}</h2>

                          <div [innerHTML]="OurStory.description">

                          </div>
                      </div>

                  </div>

                  <div class="row mb-md-5 mb-3" *ngIf="OurGoals">

                      <div class="col-md-6">
                          <img [src]="setting.appRootUrl+OurGoals.imagePath" class="img-fluid">
                      </div>
                      <div class="col-md-6 about-div-text">
                          <h2>{{OurGoals.title}}</h2>

                          <div [innerHTML]="OurGoals.description">

                          </div>

                      </div>

                  </div>


                  <div class="row mb-md-5 mb-3" *ngIf="OurServices">

               
                    <div class="col-md-6 about-div-text">
                        <h2>{{OurServices.title}}</h2>

                        <div [innerHTML]="OurServices.description">

                        </div>
                    </div>

                    <div class="col-md-6">
                        <img [src]="setting.appRootUrl+OurServices.imagePath" class="img-fluid">
                    </div>

                </div>

              </div>
          </section>
            <!-- -----------end test-------------- -->
        </div>
      </div>
      <!-- ----------------test------------------------------- -->
      <section class="section about-text-section about-div" *ngIf="OurVision">
        <div class="container">
          <div class="row mb-md-5 mb-3 flex-item-center">
            <div class="col-md-6">
              <!-- <div
              [ngStyle]="{'background': 'bgOurVision'}"
                class="img-container"
              ></div> -->

              <img
              [src]="setting.appRootUrl + OurVision.imagePath"
              class="img-fluid"
            />

            </div>
            <div class="col-md-6 about-div-text">
              <h2>{{ OurVision.title }}</h2>

              <div [innerHTML]="OurVision.description"></div>
            </div>
          </div>
          <div class="row mb-md-5 mb-3 flex-item-center" *ngIf="OurStory">
            <div class="col-md-6 order-md-1">
              <div class="">
                <img
                  [src]="setting.appRootUrl + OurStory.imagePath"
                  class="img-fluid"
                />
              </div>
            </div>
            <div class="col-md-6 about-div-text">
              <h2>{{ OurStory.title }}</h2>

              <div [innerHTML]="OurStory.description"></div>
            </div>
          </div>

          <div class="row mb-md-5 mb-3 flex-item-center" *ngIf="OurGoals">
            <div class="col-md-6">
              <img
                [src]="setting.appRootUrl + OurGoals.imagePath"
                class="img-fluid"
              />
            </div>
            <div class="col-md-6 about-div-text">
              <h2>{{ OurGoals.title }}</h2>

              <div [innerHTML]="OurGoals.description"></div>
            </div>
          </div>

          <div class="row mb-md-5 mb-3 flex-item-center" *ngIf="OurServices">
            <div class="col-md-6 about-div-text">
              <h2>{{ OurServices.title }}</h2>

              <div [innerHTML]="OurServices.description"></div>
            </div>

            <div class="col-md-6">
              <img
                [src]="setting.appRootUrl + OurServices.imagePath"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </section>
      <!-- -----------end test-------------- -->
    </div>

<!--===== End About Section =====-->
