<!--===== Start About Section =====-->
<section class="about-us-area" *ngIf="AboutUs">
  <div class="container">
    <section class="company-story">
      <div class="row">
        <!-- <div class="col-12 col-lg-3">
          <img src="../../../assets/content/images/w.png" alt="logo" height="120" style="display:block; margin: auto;">
        </div> -->
        <div class="col-12 col-lg-12">
          <div class="section-title-area ltn__section-title-2---">
            <h1 class="section-title">
              <span class="title"> {{ AboutUs.title }}  </span>
            </h1>
            <p [innerHTML]="AboutUs.description"></p>
          </div>
        </div>
      </div>
    </section>
    <!-- ----------------test------------------------------- -->
    <section class="about-text-section about-div pt-0 about-data" *ngIf="OurVision">
      <div class="container">
        <div class="row flex-item-center">
          <div class="col-12 col-lg-6">
            <div class="img-container" [ngStyle]="{ 'background-image': 'url(' + OurVisionUrl + ')' }"></div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="about-div-text">
              <h2>{{ OurVision.title }}</h2>

              <p [innerHTML]="OurVision.description"></p>
            </div>
          </div>
        </div>
        <div class="row flex-item-center" *ngIf="OurStory">
          <div class="col-12 col-lg-6 order-lg-0 order-1">
            <div class="about-div-text">
              <h2>{{ OurStory.title }}</h2>
              <p [innerHTML]="OurStory.description"></p>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="img-container" [ngStyle]="{ 'background-image': 'url(' + OurStoryUrl + ')' }"></div>
          </div>
        </div>

        <div class="row flex-item-center" *ngIf="OurGoals">
          <div class="col-12 col-lg-6">
            <div class="img-container" [ngStyle]="{ 'background-image': 'url(' + OurGoalsUrl + ')' }"></div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="about-div-text">
              <h2>{{ OurGoals.title }}</h2>
              <p [innerHTML]="OurGoals.description"></p>
            </div>
          </div>
        </div>

        <div class="row flex-item-center" *ngIf="OurServices">
          <div class="col-12 col-lg-6 order-lg-0 order-1">
            <div class="about-div-text">
              <h2>{{ OurServices.title }}</h2>
              <p [innerHTML]="OurServices.description"></p>
            </div>
          </div>

          <div class="col-12 col-lg-6">
            <div class="img-container" [ngStyle]="{ 'background-image': 'url(' + OurServicesUrl + ')' }"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- -----------end test-------------- -->

  </div>
</section>

<!--===== End About Section =====-->
