<!--===== Start About Section =====-->
<div class="about-us-area" *ngIf="AboutUs">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-area ltn__section-title-2--- mb-20">
          <h1 class="section-title">
            {{ "saqeefahStory" | translate }} <span></span>
          </h1>
          <p [innerHTML]="AboutUs.description"></p>
        </div>
      </div>
      <!-- ----------------test------------------------------- -->
      <section class="section about-text-section about-div pt-0" *ngIf="OurVision">
        <div class="container">
          <div class="row mb-md-5 mb-3 flex-item-center">
            <div class="col-md-6">
              <div
                class="img-container"
                [ngStyle]="{ 'background-image': 'url(' + OurVisionUrl + ')' }"
              ></div>
            </div>
            <div class="col-md-6 about-div-text">
              <h2>{{ OurVision.title }}</h2>

              <div [innerHTML]="OurVision.description"></div>
            </div>
          </div>
          <div class="row mb-md-5 mb-3 flex-item-center" *ngIf="OurStory">
            <div class="col-md-6 order-md-1">
              <div
                class="img-container"
                [ngStyle]="{ 'background-image': 'url(' + OurStoryUrl + ')' }"
              ></div>
            </div>
            <div class="col-md-6 about-div-text">
              <h2>{{ OurStory.title }}</h2>

              <div [innerHTML]="OurStory.description"></div>
            </div>
          </div>

          <div class="row mb-md-5 mb-3 flex-item-center" *ngIf="OurGoals">
            <div class="col-md-6">
              <div
                class="img-container"
                [ngStyle]="{ 'background-image': 'url(' + OurGoalsUrl + ')' }"
              ></div>
            </div>
            <div class="col-md-6 about-div-text">
              <h2>{{ OurGoals.title }}</h2>

              <div [innerHTML]="OurGoals.description"></div>
            </div>
          </div>

          <div class="row mb-md-5 mb-3 flex-item-center" *ngIf="OurServices">
            <div class="col-md-6 about-div-text">
              <h2>{{ OurServices.title }}</h2>

              <div [innerHTML]="OurServices.description"></div>
            </div>

            <div class="col-md-6">
              <div
                class="img-container"
                [ngStyle]="{ 'background-image': 'url(' + OurServicesUrl + ')' }"
              ></div>
            </div>
          </div>
        </div>
      </section>
      <!-- -----------end test-------------- -->
    </div>
  </div>
</div> 

<!--===== End About Section =====-->
