.icon:hover{
    cursor: pointer;
    transform: translateY(.6px);
}
.list-inline-item.view-icons{
    max-width:30px !important;
}
.fa-refresh{
    font-size: 14px;
    line-height: 3.5;
}
.fa-refresh:hover{
    cursor: pointer;
}