// @import'../../../assets/css/font-awesome.min.css';
.active{
  font-weight: bold;
  color: #5e5d58 !important;
}


.place-order-link{
  color: #fff !important;
  padding: 5px;
}

.place-order-link:hover{
  background: transparent;
  color: #5e5d58 !important;
}