// @import'../../../assets/css/font-awesome.min.css';
.active{
  font-weight: bold;
  color: #5e5d58 !important;
}


.place-order-link{
  font-weight: 600;

  i{
    position: relative;
    top: 1px;
    margin-block-start: 5px;

    &:lang(ar){
    transform: rotateY(180deg);
  }

}
}