
  <div class="row">
    <div class="col-12">
      <div class="info-table table-content">
        <table
          class="table  table-hover table-responsive text-center"
        >
          <thead style="padding-left: 10px">
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">{{'projectName'|translate}}</th>
              <th class="text-center">{{'city'|translate}}  </th>
              <th class="text-center">{{'district'|translate}}</th>
              <th class="text-center">{{'Address'|translate}}</th>
              <th class="text-center">{{'AvailableUnits'|translate}}</th>
              <th class="text-center">{{'numberOfUnits'|translate}}</th>
              <th class="text-center">{{'numberOfBuildings'|translate}}</th>
              <th class="text-center">{{'status'|translate}}</th>

            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let row of data; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ row.projectName }}</td>
              <td>{{ row.city }}</td>
              <td>{{ row.district }}</td>
              <td>{{ row.adress }}</td>
              <td>{{ row.numberOFAvailableUnits }}</td>
              <td>{{ row.numberOfUnits }}</td>
              <td>{{ row.numberOfBuildings }}</td>
              <td class="p-2">
                <span
                  class="status"
                  [class]="{
                    green: row.statusId == 1,
                    moave: row.statusId == 4,
                    orange: row.statusId == 2,
                    pink: row.statusId == 3
                  }"
                  >{{ row.status }}</span
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
