<div class="row">
  <div class="col-12">
    <div class="info-table table-content">
      <div class="table-responsive">
        <table class="table table-borderless">
          <thead style="padding-left: 10px">
            <tr>
              <th class="">#</th>
              <th class="">{{'projectName'|translate}}</th>
              <th class="">{{'city'|translate}} </th>
              <th class="">{{'district'|translate}}</th>
              <th class="">{{'Address'|translate}}</th>
              <th class="">{{'AvailableUnits'|translate}}</th>
              <th class="">{{'numberOfUnits'|translate}}</th>
              <th class="">{{'numberOfBuildings'|translate}}</th>
              <th class="">{{'status'|translate}}</th>

            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let row of data; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ row.projectName }}</td>
              <td>{{ row.city }}</td>
              <td>{{ row.district }}</td>
              <td>{{ row.adress }}</td>
              <td>{{ row.numberOFAvailableUnits }}</td>
              <td>{{ row.numberOfUnits }}</td>
              <td>{{ row.numberOfBuildings }}</td>
              <td class="p-2">
                <span class="status" [class]="{
                    green: row.statusId == 1,
                    moave: row.statusId == 4,
                    orange: row.statusId == 2,
                    pink: row.statusId == 3
                  }">{{ row.status }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>