.info-table {
    width: 600px;
    margin: 50px auto 0;
  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    direction: rtl;
    padding: 0;
    font-size: 11px;
    thead {
      background: #f6f6f6;
      tr:nth-child(2n-1) {
        background: #fafafa;
      }
      tr > th {
        font-size: 13px;
        text-transform: uppercase;
        border-bottom-width: 1px !important;
      }
    }
    .status{
        font-size: 10px;
        background: #38b70b;
        padding: 0px 5px;
        color: #ffffff;
    }
  }

  .table-bordered {
    border: 1px solid #ddd;
  }
}
