.form-control {
    border-radius: 0;
    outline: none !important;
    box-shadow: none !important;
    &:focus,&:active{
        border-color: $mainColor;
    }
}
.btn-outline-primary{
    border-color: $mainColor;
    color: $mainColor;
    &:hover,&:focus,&:active{
        background-color: $mainColor;
        border-color: $mainColor;
        color: #fff;
        box-shadow: none;
        outline: none;
    }
}