@import '../../../../assets/scss/base/varibles';
.parallax {
    /* The image used */
    /* Set a specific height */
    min-height: 250px;
    /* Create the parallax scrolling effect */
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 30px 0 0 0;
    .mask {
        background: rgba(#1E1E1E, 0.8);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
        // backdrop-filter: blur(2px);
    }
    .indecators-panel {
        // position: absolute;
        width: 100%;
        z-index: 2;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
    }
    .counter {
        font-size: 40px;
        margin: 0;
        font-weight: 600;
        text-shadow: none;
    }
    .subject {
        color: #fff;
        font-size: 16px;
        text-shadow: none;
    }
}

.icon {
    font-size: 48px;
    color: #fff !important;
    text-shadow: none;
}

.secondary-color {
    color: #fff !important;
    text-shadow: none;
}