<div class="accordion" id="accordionExample">
    <div class="accordion-item shadow">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapsepartner"
                aria-expanded="true" aria-controls="collapseOne">
                <h5 class="secondary-color">{{'Home Slider Bannar' | translate}}</h5>
            </button>
        </h2>
        <div id="collapsepartner" class="accordion-collapse collapse show" aria-labelledby="headingOne">
            <div class="accordion-body">
                <form action="" class="row g-4" [formGroup]="myFormGroup" (submit)="onClickSubmit($event)"
                    enctype="multipart/form-data">
                    <div class="col-md-6 mt-2">
                     
                        <input type="hidden" formControlName="id">
                        <div class="my-1">
                            <label for="exampleFormControlInput1" class="form-label">{{'Title En' | translate}}
                                <!-- <span class="text-danger error" *ngIf="showError && myFormGroup.controls['TitleEn'].errors?.['required']">
                                * Required Field
                            </span> -->
                            </label>
                            <div class="formg">
                                <!-- <input type="text"  [(ngModel)]="slider.titleEn" class="form-control" formControlName="TitleEn"
                                    placeholder="Fill Field"> -->
                                    <input type="text"   class="form-control" formControlName="TitleEn"
                                    placeholder="Fill Field">

                            </div>
                        </div>
                        <div class="my-1">
                            <label for="exampleFormControlInput1" class="form-label">{{'Description En' | translate}}
                                <!-- <span class="text-danger error" *ngIf="showError && myFormGroup.controls['DescriptionEn'].errors?.['required']">
                                * Required Field
                            </span> -->
                            </label>
                            <div class="formg">
                             
                              <!-- <textarea class="form-control"  placeholder="Type here..."  formControlName="DescriptionEn" [(ngModel)]="slider.descriptionEn" rows="3">
                              </textarea> -->
                              <textarea class="form-control"  placeholder="Type here..."  formControlName="DescriptionEn" rows="3">
                            </textarea>
                              
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6 mt-2">
                        <div class="my-1">
                            <label for="exampleFormControlInput1" class="form-label">{{'Title Ar' | translate}}
                                <!-- <span class="text-danger error" *ngIf="showError && myFormGroup.controls['TitleAr'].errors?.['required']">
                                * Required Field
                            </span> -->
                            </label>
                            <div class="formg">
                                <!-- <input type="text" class="form-control"  [(ngModel)]="slider.titleAr"  formControlName="TitleAr"
                                    placeholder="Fill Field"> -->
                                    <input type="text" class="form-control"    formControlName="TitleAr"
                                    placeholder="Fill Field">

                            </div>
                        </div>
                        <div class="my-1">
                            <label for="exampleFormControlInput1" class="form-label">{{'Description Ar' | translate}}
                                <!-- <span class="text-danger error" *ngIf="showError && myFormGroup.controls['DescriptionAr'].errors?.['required']">
                                    * Required Field
                                </span> -->
                            </label>
                            <div class="formg">
                            
                              <!-- <textarea class="form-control"   placeholder="Type here..."  formControlName="DescriptionAr" [(ngModel)]="slider.descriptionAr" rows="3">
                              </textarea> -->
                              <textarea class="form-control"   placeholder="Type here..."  formControlName="DescriptionAr"  rows="3">
                            </textarea>
                              
                            </div>
                        </div>


                    </div>


                    <div class="col-md-12 mt-2">
                        <div class="my-1">
                        
                           
                                    <label for="exampleFormControlInput1" class="form-label">{{'Select Image' | translate}}
                                        
                                    </label>
                                    <div class="formg w-100">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="file" accept="image/*" class="form-control" 
                                                     (change)="onInputChange($event)" id="thumbnail">
                                            </div>
                                          <!-- <div class="col-md-3">
                                            <button (click)="uploadImages($event)"
                                            class="btn btn-small w-100 btn-primary px-4 ">
                                           {{'Upload' | translate}}
                                        </button>
                                          </div> -->
    
                                            <!-- <div class="col-md-6 ">
                                                <div class="">
                                                    <div class="imagBox d-inline-block mx-1 mb-2"  >
                                                        <i class="far fa-times-circle delete-img" (click)="DeleteImage(0)"></i>
                                                        <img  [src]="images" class="img-fluid" style="height:150px" alt="">
                                                    </div>
                                                </div>
                                            </div> -->
                                        </div>
    
    
    
                                    </div>
                                </div>
    
                          
                            </div>

                    <div class="col-md-12">
                        <div class="my-1">
                            <div class="formg w-100">
                                <button type="submit" class="btn btn-small btn-primary w-25 float-end  px-4  mt-2"
                                    [disabled]="myFormGroup.invalid">{{'Add' | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

               

               

            </div>
        </div>
      
    </div>

    
<div class="container " *ngIf="slider.sliderAttachment != null">
<div class="row">
    <div class="col-md-12 bg-white pt-3">
        <!-- <h4 class="h3 mb-3 font-weight-normal secondary-color"> {{'Images' | translate}} </h4> -->

        <div class=" mt-2 table-responsive px-2">
          <table class="table table-bordered row-border hover">
            <thead class="thead-dark">
                <tr>

                    <th scope="col">#</th>
                    <th scope="col">{{'image' | translate}}</th>
                    <th scope="col">{{'Title Ar' | translate}}</th>
                    <th scope="col">{{'Title En' | translate}}</th>
                    <th scope="col">{{'Description Ar' | translate}}</th>
                    <th scope="col">{{'Description En' | translate}}</th>
                    <th scope="col">{{'Action' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of slider.sliderAttachment ,index as i">
                    <td>{{i}}</td>
                    <td><img [src]="appRootUrl+item.path" style="height:100px;width:100px;" ></td>
                    <td>{{item.titleAr | translate}}</td>
                    <td>{{item.titleEn | translate}}</td>
                    <td>{{item.descriptionAr | translate}}</td>
                    <td>{{item.descriptionEn | translate}}</td>
                    <td><button class="btn btn-danger" (click)="DeleteRow(item.attachmentId)">{{'Delete' | translate}}</button></td>
                </tr>


            </tbody>
        </table>
        </div>
    </div>
</div>


