<section class="why-section-new">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="mb-4">{{ "whysaqeefah" | translate }}</h2>
            </div>
            <div class="col-lg-12 mt-3">
                <div class="row">
    
                    <div class="col-md-4 col-12" *ngFor="let item of saqeefahBenefits; let i = index">
                        <div class="why-section-icon wow animate__fadeInLeft hvr-float" data-aos="fade-up"
                        data-aos-duration="2000">
                            <div class="simple-thumb">
                                <span class="h3 down-line mb-4">
                                    <img src="../../../assets/content/Features-icons/brown/{{item.icon}}">
                                </span>
                                <h5 class="my-3">{{item.title}}</h5>
                            </div>
                        </div>
                    </div>
    
                   
                </div>
            </div>
        </div>


             

       




        <!-- <div class="row justify-content-center">

            <div class="col-sm-6 col-lg-4" *ngFor="let item of saqeefahBenefits; let i = index">
                <div class="feature-box fbox-center fbox-bg fbox-light fbox-effect">
                    <div class="fbox-icon">
                        <a href="#">
                            <i class="i-alt">{{i+1}}</i>
                        </a>
                    </div>
                    <div class="fbox-content">
                        <h3>
                            {{ item.title }}
                        </h3>
                    </div>
                </div>
            </div>






        </div> -->




    </div>






</section>