<section class="why-saqeefah-section">

    <div class="container">

        <div class="row">
            <div class="why-title">
                <h2 class="mb-4">{{ "whysaqeefah" | translate }}</h2>
            </div>
        </div>


        <div class="row justify-content-center">

            <div class="col-sm-6 col-lg-4" *ngFor="let item of saqeefahBenefits; let i = index">
                <div class="feature-box fbox-center fbox-bg fbox-light fbox-effect">
                    <div class="fbox-icon">
                        <a href="#">
                            <i class="i-alt">{{i+1}}</i>
                        </a>
                    </div>
                    <div class="fbox-content">
                        <h3>
                            {{ item.title }}
                        </h3>
                    </div>
                </div>
            </div>






        </div>




    </div>






</section>