.why-section-new {
  position: relative;
  width: 100%;
  padding: 40px 0;
  background: #747154;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='61.674' height='83.654' viewBox='0 0 61.674 83.654'%3E%3Cpath id='pattern' d='M29.479,82.654A9.89,9.89,0,0,1,22,78.8a10.33,10.33,0,0,1-7.481,3.856H2.01V40.025a1.436,1.436,0,0,0-1.443-1.4H0V36.648H10.119v1.976H9.552c-.774,0-1.394.322-1.394,1.1V76.54h6.025a4.728,4.728,0,0,0,4.724-4.722V58.368a1.375,1.375,0,0,0-1.371-1.4h-.567V54.92H26.989v2.048h-.566a1.408,1.408,0,0,0-1.409,1.4v13.45a4.728,4.728,0,0,0,4.724,4.722h5.983V40.025a1.465,1.465,0,0,0-1.474-1.4H33.68V36.648H43.824v1.976h-.567a1.419,1.419,0,0,0-1.423,1.4V82.654Zm23.112-.016V58.162a1.375,1.375,0,0,0-1.37-1.4h-.567V54.713H60.674V56.76h-.566a1.408,1.408,0,0,0-1.409,1.4V82.638ZM50.555,46.246V44.27h.567c.774,0,1.394-.323,1.394-1.1V6.354H46.492a4.729,4.729,0,0,0-4.724,4.723V24.526a1.375,1.375,0,0,0,1.371,1.4H43.7v2.047H33.685V25.927h.566a1.407,1.407,0,0,0,1.409-1.4V11.077a4.728,4.728,0,0,0-4.723-4.723H24.953V42.869a1.465,1.465,0,0,0,1.474,1.4h.566v1.976H16.85V44.27h.567a1.42,1.42,0,0,0,1.423-1.4V.241H31.195A9.888,9.888,0,0,1,38.676,4.1,10.335,10.335,0,0,1,46.157.241H58.664V42.869a1.439,1.439,0,0,0,1.444,1.4h.566v1.976ZM0,27.924V25.877H.567a1.406,1.406,0,0,0,1.408-1.4V0H8.084V24.476a1.374,1.374,0,0,0,1.37,1.4h.566v2.048Z' transform='translate(0.5 0.5)' fill='rgba(255,255,255,0.02)' stroke='rgba(0,0,0,0)' stroke-miterlimit='10' stroke-width='1'/%3E%3C/svg%3E%0A");
  // background-repeat-y: no-repeat;
  // background-position-y: calc(100% - 40px);

}
.why-section-item{
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
  padding: 8px 16px;
  background-color: #fff;
  .icon{
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      height: 100%;
    }
  }
  .title{
    margin: 0;
    font-size: 18px;
  }
}

// .why-section-new .tagline-2 {
//   font-weight: 500;
//   position: relative;
//   font-size: 17px;
//   letter-spacing: 2px;
//   display: block;
//   margin-bottom: 15px;
//   color: rgb(240, 236, 236);
// }

// .why-section-new .tagline-2::before {
//   content: "";
//   position: absolute;
//   width: 50px;
//   height: 2px;
//   background: rgb(240, 236, 236);
//   left: -60px;
//   top: calc(100% - 15px);
// }

// .why-section-new h2 {
//   font-size: 35px;
//   line-height: 48px;
//   color: #fff;
//   font-weight: 700
// }


// .why-section-new .why-section-icon .simple-thumb {
//   display: flex;
//   margin-bottom: 15px
// }

// .why-section-new .why-section-icon .simple-thumb:hover {
//   cursor: pointer;
// }

// .why-section-new .why-section-icon img {
//   background: rgb(240, 236, 236);
//   border-radius: 50px;
//   padding: 8px;
//   width: 60px;
// }

// .why-section-new .why-section-icon h5 {
//   color: #fff;
//   margin: 0 10px;
//   font-size: 18px;
//   font-weight: 600;
// }



// @media screen and (max-width: 768px) {


//   .why-section-new h2 {
//     font-size: 26px;
//     line-height: 39px;
//   }

//   .why-section-new .tagline-2::before {
//     left: -30px
//   }

//   .why-section-new .tagline-2 {
//     padding: 0 26px;
//   }


// }

// .why-section-new .hvr-float {
//   display: inline-block;
//   vertical-align: middle;
//   -webkit-transform: perspective(1px) translateZ(0);
//   transform: perspective(1px) translateZ(0);
//   box-shadow: 0 0 1px rgb(0 0 0 / 0%);
//   -webkit-transition-duration: 0.3s;
//   transition-duration: 0.3s;
//   -webkit-transition-property: transform;
//   transition-property: transform;
//   -webkit-transition-timing-function: ease-out;
//   transition-timing-function: ease-out;
// }

// .why-section-new .hvr-float:hover,
// .why-section-new .hvr-float:focus,
// .why-section-new .hvr-float:active {
//   -webkit-transform: translateY(-8px);
//   transform: translateY(-8px);
// }

// /* --------------------------- */