<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">

        <button *ngFor="let item of slider?.sliderAttachment index as i" type="button" data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i" 
         [ngClass]="{'active' : i == 0}"  aria-current="true" [attr.aria-label]="'Slide'+i"></button>
        
    </div>
    <div class="carousel-inner">

        <div class="carousel-item" *ngFor="let item of slider?.sliderAttachment index as i;first as isFirst"  [ngClass]="{active:isFirst}">
            <div class="slider-item">
                <div class="item-img">
                    <img src="{{appRootUrl+item?.path}}" alt="">
                </div>
                <div class="caption ">
                    <div class="container">
                        <h4>
                            {{item?.title}} 
                        </h4>
                        <p *ngIf="item.description!='null'">
                            {{item?.description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>