@import "~swiper/css";
@import "~swiper/css/free-mode";
@import "~swiper/css/navigation";
@import "~swiper/css/thumbs";
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #5e5d58;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swiper {
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: contain;
    background-position: center;
}

.swiper-slide:hover    img{
    transform: scale(1.1,1.2);
    transition: all 1s;
}
.swiper-slide    img {
    transition: all 0.3s ease-in-out;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: all;
}

.mySwiper2 {
    height: 450px !important;
    width: 100% !important;
}

.mySwiper {
    height: 14%;
    box-sizing: border-box;
    padding: 10px 0;
    display: none;
}

.mySwiper .swiper-slide {
    width: auto !important;
    height: 150px;
    opacity: 0.4;
    overflow: hidden;
    max-width: 200px;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit:  contain;
    @media only screen and (max-width: 600px) {
        min-width: 100%;
    }
}
