
.scroll-to-top{
  position: fixed;
  background:var(--main-color);
  bottom: 10px;
  right: 10px;
  color:#fff;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 0 !important;
  z-index: 1000;
  font-size: 20px;
  transition: all .3s ease-in-out;
  &:hover{
    background-color: #5E5E59
    ;
  }
}
