<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 mb-3">
      <h3
        class="secondary-color mb-3"
        *ngIf="propertyDetails && propertyDetails.projectName != null"
      >
        {{ "Project Name :" | translate }}
        {{ propertyDetails.projectName | translate }}
      </h3>
      <h5
        class="secondary-color"
        *ngIf="propertyDetails && propertyDetails.buildingName != null"
      >
        {{ "Building:" | translate }}
        <span class="text-secondary fw-bold">{{
          propertyDetails.buildingName
        }}</span>
      </h5>
    </div>
    <div class="col-md-9 mt-3">
      <!-- <app-gallery [galleryImage]="propertyDetails.images" *ngIf="propertyDetails && propertyDetails.images"></app-gallery> -->
      <app-swipper-gallery
        [galleryImage]="propertyDetails.images"
        *ngIf="propertyDetails && propertyDetails.images"
      ></app-swipper-gallery>
      <img
        src="assets/images/home-placeHolder.webp"
        class="img-fluid"
        *ngIf="propertyDetails && propertyDetails.images.length == 0"
        alt=""
      />
    </div>
    <div class="col-md-3 mt-2">
      <div class="row mb-1" *ngIf="propertyDetails">
        <div class="col-md-12 mb-2 text-left">
          <b class="mainColor " style="font-size: 20px">
            {{ propertyDetails.apartment_Price | number: ".2" }}
            {{ "ر.س" | translate }}
          </b>
        </div>
        <div class="col-md-12 mb-1 text-center">
          <div
            class="px-5 py-2"
            [class]="{
              green: propertyDetails.statusId == 1,
              orange: propertyDetails.statusId == 2,
              pink: propertyDetails.statusId == 3
            }"
            class="status"
          >
            {{ propertyDetails.status | translate }}
          </div>
        </div>
      </div>
      <hr />
      <form
        action=""
        [formGroup]="myFormGroup"
        (submit)="onClickSubmit($event)"
        enctype="multipart/form-data"
      >
        <h5 class="secondary-color mb-3">{{ "PLACE ORDER" | translate }}</h5>
        <input
          type="text"
          class="form-control form-control-sm mb-1"
          placeholder="{{ 'Name' | translate }}"
          formControlName="client_Name"
        />
        <!-- <span class="text-danger error" *ngIf=" showError&&myFormGroup.controls['client_Name'].errors?.['required']">
                * Required Field
                 </span> -->
        <input
          type="text"
          class="form-control form-control-sm mb-1"
          placeholder="{{ 'Email' | translate }}"
          formControlName="client_Mail"
        />
        <!-- <span class="text-danger error" *ngIf=" showError&&myFormGroup.controls['client_Mail'].errors?.['email']">
                * Email form Field
        </span> -->
        <input
          type="text"
          class=" form-control form-control-sm mb-1"
          placeholder="{{ 'Phone' | translate }}"
          formControlName="client_Mobile"
        />
        <!-- <span class="text-danger error" *ngIf=" showError&&myFormGroup.controls['client_Mobile'].errors?.['required']">
                * Required Field
        </span> -->
        <textarea
          name=""
          placeholder="{{ 'Subject' | translate }}"
          class="form-control form-control-sm mb-3"
          id=""
          cols="30"
          rows="3"
          formControlName="additional_Reqst"
        ></textarea>
        <input
          class="btn secondary-btn btn-sm"
          type="submit"
          value="{{ 'Submit' | translate }}"
          [disabled]="myFormGroup.invalid"
        />
      </form>
    </div>
    <!-- <hr class="my-3"> -->
    <div class="property-section col-md-12 col-lg-12 my-3">
      <!-- <div class=" w-100"> -->
      <!-- <div class="row">

                    <div class="col-lg-12"> -->

      <div class="property-info row px-2" *ngIf="propertyDetails">
        <!-- <div class="row mb-4"> -->
        <div class="col-12 d-flex px-0">
          <div class="box bg-secondary">
            <img src="assets/content/WithoutText/floor.svg" alt=""  class="image-property"/>
            <p>{{ "p_Intrance" | translate }}</p>
            <hr />
            <h6>
            <svg class="icon " [ngClass]="{'icon-cross': propertyDetails.p_Intrance ==0,
            'icon-checkmark': propertyDetails.p_Intrance ==1 }"><use [attr.xlink:href]="propertyDetails.p_Intrance==0 ? '#icon-cross' :'#icon-checkmark'"></use></svg>
            </h6>
          </div>
          <div class="box bg-secondary">
            <span class="icon-svg icon-area position-relative"> </span>
            <p>{{ "basic_Space" | translate }}</p>
            <hr />
            <h6>{{ propertyDetails.basic_Space }}</h6>
          </div>
          <div class="box bg-secondary">
          
            <span class="icon-svg icon-area position-relative"> <span class="plus">+</span></span>
           
            <p>{{ "additional_Space" | translate }}</p>
            <hr />
            <h6>{{ propertyDetails.additional_Space }}</h6>
          </div>
          <div class="box bg-secondary">
            <span class="icon-svg icon-balcon"></span>
           
            <p>{{ "balcon" | translate }}</p>
            <hr />
            <h6>
            <svg class="icon" [ngClass]="{'icon-cross': propertyDetails.balcon ==0,
            'icon-checkmark': propertyDetails.balcon ==1 }"><use [attr.xlink:href]="propertyDetails.balcon==0 ? '#icon-cross' :'#icon-checkmark'"></use></svg>
          </h6>
          </div>
          <div class="box bg-secondary">
            <img src="assets/content/WithoutText/toilet.svg" alt=""  class="image-property" />
            <p>{{ "Toilet" | translate }}</p>
            <hr />
            <h6>{{ propertyDetails.toilet_Num }}</h6>
          </div>
          <div class="box bg-secondary">
            <img src="assets/content/WithoutText/servant.svg" alt=""  class="image-property" />
            <p>{{ "servant_Room" | translate }}</p>
            <hr />
            <h6>
            <svg class="icon " [ngClass]="{'icon-cross': propertyDetails.servant_Room ==0,
            'icon-checkmark': propertyDetails.servant_Room ==1 }"><use [attr.xlink:href]="propertyDetails.servant_Room==0 ? '#icon-cross' :'#icon-checkmark'"></use></svg>
         </h6>
          </div>
          <div class="box bg-secondary">
            <span class="icon-svg icon-roof"></span>
            <p>{{ "roof" | translate }}</p>
            <hr />
            <h6>
            <svg class="icon " [ngClass]="{'icon-cross': propertyDetails.roof ==0,
            'icon-checkmark': propertyDetails.roof ==1 }"><use [attr.xlink:href]="propertyDetails.roof==0 ? '#icon-cross' :'#icon-checkmark'"></use></svg>
            </h6>
          </div>

        </div>
        <div class="col-12 d-flex px-0">
        <div class="box bg-secondary">
          <span class="icon-svg icon-parking"></span>
          <p>{{ "parking" | translate }}</p>
          <hr />
          <h6>
            <svg class="icon " [ngClass]="{'icon-cross': propertyDetails.parking ==0,
            'icon-checkmark': propertyDetails.parking ==1 }"><use [attr.xlink:href]="propertyDetails.parking==0 ? '#icon-cross' :'#icon-checkmark'"></use></svg>
          </h6>
        </div>
        <div class="box bg-secondary">
          <img src="assets/content/WithoutText/trace.svg" alt=""  class="image-property" />
          <p>{{ "trace" | translate }}</p>
          <hr />
          <h6>
          <svg class="icon " [ngClass]="{'icon-cross': propertyDetails.trace ==0,
            'icon-checkmark': propertyDetails.trace ==1 }"><use [attr.xlink:href]="propertyDetails.trace==0 ? '#icon-cross' :'#icon-checkmark'"></use></svg>
        </h6>
          </div>

        <div class="box bg-secondary">
          <span class="icon-svg icon-area"></span>
          <p>{{ "Area" | translate }}</p>
          <hr />
          <h6>{{ propertyDetails.apartment_Space | translate }}</h6>
        </div>

        <div class="box bg-secondary">
          <img src="assets/content/WithoutText/room.svg" alt=""   class="image-property"/>
          <p>{{ "Rooms" | translate }}</p>
          <hr />
          <h6>{{ propertyDetails.bed_Room_Num }}</h6>
        </div>

        <div class="box bg-secondary">
          <span class="icon-svg icon-images-PhotoRoom"></span>
        
          <p>{{ "Floor" | translate }}</p>
          <hr />
          <h6>
          <svg class="icon " [ngClass]="{'icon-cross': propertyDetails.floor_Num ==0,
          'icon-checkmark': propertyDetails.floor_Num ==1 }"><use [attr.xlink:href]="propertyDetails.floor_Num==0 ? '#icon-cross' :'#icon-checkmark'"></use></svg>
       </h6>
        </div>

        <div class="box bg-secondary ">
          <img src="assets/content/WithoutText/hall.svg" alt=""  class="image-property" />
          <p>{{ "Hall" | translate }}</p>
          <hr />
          <h6>
          <svg class="icon " [ngClass]="{'icon-cross': propertyDetails.hall ==0,
          'icon-checkmark': propertyDetails.hall ==1 }"><use [attr.xlink:href]="propertyDetails.hall==0 ? '#icon-cross' :'#icon-checkmark'"></use></svg>
        </h6>
        </div>

        <div class="box bg-secondary">
          <img src="assets/content/WithoutText/salon.svg" alt=""  class="image-property" />
          <p>{{ "Salon" | translate }}</p>
          <hr />
         <h6>
          <svg class="icon " [ngClass]="{'icon-cross': propertyDetails.salon ==0,
          'icon-checkmark': propertyDetails.salon ==1 }"><use [attr.xlink:href]="propertyDetails.salon==0 ? '#icon-cross' :'#icon-checkmark'"></use></svg>
        </h6>
        </div>
        </div>
      </div>
    </div>

    <!-- </div> -->

    <!-- </div>
            </div> -->
    <!-- </div> -->
  </div>
</div>
