// START BANNER

.villas_banner {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 255px;
  padding-top: 50px;
  background-color: #fff;

  .overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to left,
      #fff0 0%,
      #86815bfa 50%,
      #86815bfa 50%,
      var(--main-color) 100%
    );
  }
  .overlay:lang(ar) {
    background: linear-gradient(
      to right,
      #fff0 0%,
      #86815bfa 50%,
      #86815bfa 50%,
      var(--main-color) 100%
    );
  }

  .overlay_border {
    background: #5e5e59;
    height: 150px;
    width: 70px;
    margin-top: 55px;
  }

  .villas_banner_icon {
    margin-inline-start: 30px;

    h2 {
      font-size: 60px;
      color: #fff;
      font-weight: 600;
      margin-bottom: 20px;
    }

    img {
      width: 38px;
      height: 38px;
    }

    span {
      color: #fff;
      font-size: 30px;
      position: relative;
      top: 5px;
      margin-inline-start: 10px;
    }
  }
}

// END BANNER

.carousel {
  .carousel-item {
    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
      max-height: 350px;
    }
  }

  .carousel-arrows {
    display: flex;
    justify-content: center;
    height: 50px;

    .carousel-control-next,
    .carousel-control-prev {
      opacity: 1;
      top: auto;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
      background-image: none;
      color: #947f68;
      font-size: 30px;
      position: relative;
      z-index: 1;
    }

    .carousel-control-prev {
      right: 150px;
      left: auto;
    }

    .carousel-control-next {
      left: 150px;
    }
  }

  .carousel-indicators {
    position: unset;
    margin-top: 32px;
  }

  .carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: var(--main-color);
    border: 0;
    margin-left: 8px;
    margin-right: 8px;
  }
}


.villas-page {
  background: #fff;

}
.about-villas-project {
  padding: 70px 0;
  background: #fff;
}
.villas-project-images {
  &__item {
    .item-img {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        min-height: 300px;
      }
    }
  }
}

.villas-project-details {
  &__title {
    margin-bottom: 15px;
    font-size: 2.5rem;
    color: #5f5e59;
    font-weight: 600;
  }
  &__description {
    color: #5f5e59;
    font-size: 17px;
    margin-bottom: 30px;
  }
  &__statistics {
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
    margin-top: 32px;
    &__item {
      flex: 0 0 auto;
      .statistics-info {
        display: flex;
        align-items: flex-start;
        height: 100%;
        &__icon {
          display: flex;
          flex-direction: column;
          padding: 8px;
          background-color: #5f5e59;
          height: 100%;
          img {
            height: 32px;
            width: 32px;
          }
        }
        &__data {
          display: flex;
          flex-direction: column;
          padding-inline-start: 8px;
          .count {
            margin: 0;
            font-size: 3rem;
            color: #947f68;
            line-height: 1;
          }
          .title {
            display: block;
            font-size: 1.125rem;
            line-height: 1;
            font-weight: normal;
            max-width: 60px;
            color: #5f5e59;
            margin-top: 5px;
          }
        }
      }
    }
  }
}
.villas-project-specification {
  padding: 40px 0;

  .villas-accordion {

    .accordion-body{
      padding: 0;
      background: #fff;
    }
    .accordion-item {
      border: 0;


      .accordion-button {
        position: relative;
        display: flex;
        align-items: center;
        gap: 24px;
        color: #fff;
        outline: none;
          box-shadow: none;
          border: 0;
          background: var(--main-color);

        &:focus,
        &:active {
          outline: none;
          box-shadow: none;
        }


        &.paid {
          background-color: #5e5e59;
          &::before {
            position: absolute;
            inset-block: 0;
            inset-inline-end: 16px;
            content: "Paid";
            height: 40px;
            margin: auto 0;
            line-height: 40px;
            text-align: center;
            font-size: 1.5rem;
            color: #fff;
            z-index: 3;
            :lang(ar) & {
              content: "مباعة";
            }
          }
        }
        &::after {
          margin: 0 !important;
          filter: brightness(0) invert(1);
        }
        .villa-code {
          margin: 0;
          font-size: 2rem;
        }
      }
    }
    .accordion-footer {
      display: flex;
      align-items: center;
      gap: 24px;
      flex-wrap: wrap;
    }
    .main-info {
      display: flex;
      align-items: center;
      gap: 24px;
      &__item {
        position: relative;
        display: flex;
        align-items: center;
        &:not(:first-child) {
          padding-inline-start: 24px;
          &::before {
            position: absolute;
            inset-inline-start: 0;
            inset-block: 0;
            content: "";
            height: 24px;
            width: 1px;
            background-color: #fff;
            margin: auto 0;
          }
        }
        .info-title {
          display: inline-block;
          width: 50px;
        }
        .info-value {
          font-size: 2rem;
          color: var(--main-color);
          var {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .puzzle-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33.333%, 1fr));
    @media (max-width: 1024px) {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    .villa-specification {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding: 24px;
      border: 1px solid #f7f4e3;
      &:nth-child(2n + 2) {
        background-color: #f7f4e3;
      }
      .specification-title {
      }
      .specification-value {
        svg,
        img {
          display: block;
          width: 24px;
          height: 24px;
        }
      }
      .badge {
        background-color: #56c14b;
        font-weight: normal;
        font-size: 1rem;
      }
    }
  }
}
.project-collateral {
  padding: 40px 0;
  background-color: #fff;

  .collateral-info {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    height: 100%;
    &__count {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 8px 16px;
      background-color: var(--main-color);
      height: 100%;
      .years {
        font-size: 2.5rem;
        color: #fff;
        text-align: center;
      }
      span {
        color: #fff;
      }
    }
    &__data {
      display: flex;
      flex-direction: column;
      padding-inline-start: 8px;
      .sub-title {
        color: var(--main-color);
        font-size: 1.125rem;
        line-height: 1;
      }
      .title {
        display: block;
        font-size: 1.5rem;
        line-height: 1.5;
        font-weight: normal;
        max-width: 150px;
        margin-top: 5px;
      }
    }
  }
}
.project-location{
  padding: 40px 0;
}
.other-projects{
  padding: 40px 0;
  background-color: #fff;
}
.villas-project-filter{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-inline-start: auto;
  justify-content: end;
  &__item{
    &.selected{
      background-color: var(--main-color);
      color: #fff;
    }
  }
}



.section_heading{
  margin-bottom: 20px;
  font-size: 2rem;
  color: #5f5e59;
  font-weight: 600;
  position: relative;

  span{
    margin-inline-start: 80px;
  }

  &::before {
  position: absolute;
  inset-block: 0;
  inset-inline-start: 0;
  content: "";
  display: inline-flex;
  width: 50px;
  height: 60px;
  background-color: #5E5E59;
}
}



.villa_info{

  .info_bg{
    background: #8b8666;
    padding: 20px;

    h3{
      color: #fff;
      margin: 0;
      span{
        font-weight: 600;
      }
    }

    h4{
      color: #fff;
      text-align: end;
      margin: 0;
      cursor: pointer;
      font-size: 25px;

    }
  }

}


.accordion-button.paid ~ .accordion-collapses .accordion-body .villa_info .info_bg{
    background: #6d6d68;
  }




.villa_desc{
  padding: 20px;

  .col-lg-3{
    padding: 20px;
    border: solid 1px #edececb5;
  }

  img{
    width: 40px;
    height: 40px;
    margin-inline-end: 10px;
    margin-top: -3px;
  }

  span{
    font-size: 18px;
    font-weight: 500;
  }

  h6{
    text-align: end;
    font-size: 16px;
  }

}

.villas-project-specification .villas-accordion .accordion-item:first-child .accordion-button{
  background-image: url('../../assets/images/villas/icons/collapse_bg_en.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  &:lang(ar){
    background-image: url('../../assets/images/villas/icons/collapse_bg.png');
  }
}


.villas-project-specification .villas-accordion .accordion-item:first-child .accordion-button.paid{
    background-image: url('../../assets/images/villas/icons/collapse_bg_sold_en.png');
    &:lang(ar){
      background-image: url('../../assets/images/villas/icons/collapse_bg_sold.png');
    }
  }



.area_div{

  h5{
    display: inline-block;
    width: 50px;
  }

  span{
      color: var(--main-color);
      margin-inline-start: 15px;
      font-size: 30px;
  }
}




@media screen and (min-width: 768px) and (max-width: 990px) {
  .villas-project-details__statistics {
    gap: 70px;
  }

}

@media screen and (max-width: 768px) {
  .villas_banner {
    .overlay_border {
      width: 35px;
    }

    .villas_banner_icon {
      h2 {
        font-size: 50px;
      }

      img {
        width: 35px;
        height: 35px;
      }

      span {
        font-size: 25px;
      }
    }
  }

  .villas-page {
    overflow-x: hidden;
  }

  .carousel {
    .carousel-arrows {
      .carousel-control-prev {
        right: 0;
      }

      .carousel-control-next {
        left: 0;
      }
    }
  }

  .section_heading{
    font-size: 1.7rem;
  }

  .villas-project-filter{
    justify-content: start;
    margin-bottom: 25px;
  }

  .villa_info .info_bg h3{
    margin-bottom: 10px;
  }

  .villa_info .info_bg h4{
    text-align: start;
  }

  .villas-project-specification .villas-accordion .accordion-item:first-child .accordion-button,
  .villas-project-specification .villas-accordion .accordion-item:first-child .accordion-button.paid{
    background-size: contain;
  }
}


.carousel{
  height: 100%;
  .carousel-item{
      height: 100%;
  }
}
