<!--===== START BANNER =====-->
<section
  class="villas_banner"
  style="background-image: url('assets/images/villas/villas_banner.png')"
>
  <div class="overlay"><div class="overlay_border"></div></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 position-relative">
        <div class="villas_banner_icon">
          <h2> {{projectDetails?.projectName | translate}}</h2>

          <a [href]="'https://maps.google.com/?q='+projectDetails?.latitude+','+projectDetails?.longitude+'&ll='+projectDetails?.latitude+','+projectDetails?.longitude+'&z=11'"
          target="_blank" [title]="projectDetails?.projectName+' location on google map'" class="location-onMap">
          <img src="assets/images/villas/icons/villas_location.png" />
          </a>


          <span> {{projectDetails?.adress | translate}}, {{projectDetails?.city | translate}} </span>
        </div>
      </div>
    </div>
  </div>
</section>
<!--===== END BANNER =====-->


<div class="villas-page">



  <section class="about-villas-project">
    <div class="container">
      <div class="row g-md-5">
        <div class="col-12 col-lg-6">
          <div class="villas-project-images">
            <div class="villas-project-images__item">
              <div
                id="carouselExampleIndicators"
                class="carousel slide"
                data-bs-ride="true"
              >
                <div class="carousel-inner">

                  <div class="carousel-item"   *ngFor="let item of projectDetails?.images; let i=index" [class.active]="i == 0">
                    <img
                      [src]="appRootUrl+'/'+item.path"
                      class="d-block w-100"
                      alt="..."
                    />
                  </div>
                </div>
                <div class="carousel-arrows">
                  <div class="carousel-indicators" *ngIf="projectDetails?.images?.length > 0">
                    <button  [class.active]="i == 0"  *ngFor="let item of projectDetails?.images; let i=index"
                      type="button"
                      data-bs-target="#carouselExampleIndicators"
                      [attr.data-bs-slide-to]="i"
                      class="active"
                      [attr.aria-current]="i==0"
                      aria-label="Slide 1"
                    ></button>

                  </div>
                  <button
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev"
                  >
                    <span class="carousel-control-prev-icon" aria-hidden="true">
                      <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="visually-hidden"> {{"Previous" | translate}} </span>
                  </button>
                  <button
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next"
                  >
                    <span class="carousel-control-next-icon" aria-hidden="true">
                      <i class="fas fa-chevron-right"></i>
                    </span>
                    <span class="visually-hidden"> {{"Next" | translate}}  </span>
                  </button>
                </div>
              </div>


            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="villas-project-details">
            <h4 class="villas-project-details__title">عن المشروع</h4>
            <p class="villas-project-details__description" *ngIf="projectDetails && projectDetails?.masterPlane != null&& projectDetails?.masterPlane?.projectOverview!='undefined'">
              {{projectDetails.masterPlane.projectOverview |translate}}
            </p>
            <div class="villas-project-details__statistics">
              <div class="villas-project-details__statistics__item">
                <div class="statistics-info">
                  <div class="statistics-info__icon">
                    <img
                      src="../../assets/images/villas/icons/home.svg"
                      alt=""
                    />
                  </div>
                  <div class="statistics-info__data">
                    <h4 class="count">  {{projectDetails?.numVills}}</h4>
                    <span class="title" >  {{"NumVills" | translate}}  </span>
                  </div>
                </div>
              </div>
              <div class="villas-project-details__statistics__item">
                <div class="statistics-info">
                  <div class="statistics-info__icon">
                    <img
                      src="../../assets/images/villas/icons/paid.svg"
                      alt=""
                    />
                  </div>
                  <div class="statistics-info__data">
                    <h4 class="count"> {{projectDetails?.villaSoled}} </h4>
                    <span class="title"> {{"VillaSoled" | translate}}</span>
                  </div>
                </div>
              </div>
              <div class="villas-project-details__statistics__item">
                <div class="statistics-info">
                  <div class="statistics-info__icon">
                    <img
                      src="../../assets/images/villas/icons/remaining.svg"
                      alt=""
                    />
                  </div>
                  <div class="statistics-info__data">
                    <h4 class="count">{{projectDetails?.villsRemain}} </h4>
                    <span class="title">  {{"VillsRemain" | translate}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="villas-project-specification">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <h4 class="section_heading d-flex mb-md-5">
            <span class="title" >  {{"Specifications_and_prices" | translate}} </span>
          </h4>
        </div>
        <div class="col-md-3">
          <div class="villas-project-filter">
            <button  (click)="filter(0)" [ngClass]="{'selected':SelectedFilter==0}"
              class="btn btn-outline-primary villas-project-filter__item "
            >

              {{"All" | translate}}

            </button>
            <button class="btn btn-outline-primary villas-project-filter__item" (click)="filter(1)" [ngClass]="{'selected':SelectedFilter==1}">
              {{"Available" | translate}}
            </button>
            <button class="btn btn-outline-primary villas-project-filter__item" (click)="filter(2)"  [ngClass]="{'selected':SelectedFilter==2}">
              {{"Soled" | translate}}
            </button>
          </div>
        </div>
      </div>



      <div class="row g-md-5">
        <div class="col-12">
          <div class="accordion villas-accordion" id="villasAccordion">


            <app-villa-accordion-item
              *ngFor="let item of  filterVillas; let first = first ;let index=index"
              [index]="index"
              [firstChild]="first"
              [villaDetails]="item"
            ></app-villa-accordion-item>



            <div  *ngIf="filterVillas?.length==0" >
              <h4>
                <p class="title text-center h4" >       No Data  </p>
              </h4>

            </div>
          </div>
        </div>
      </div>



    </div>
  </section>

  <section class="project-collateral">
    <div class="container">
      <h4 class="section_heading mb-5">
        <span class="title">ضمانات المشروع</span>
      </h4>
      <div class="row">
        <div class="col-lg-6">
          <img *ngIf="projectDetails?.specifications != null"
          [src]="appRootUrl+'/'+projectDetails?.specifications?.grantiesImage"
            class="img-fluid w-100"
          />


        </div>
      </div>
    </div>
  </section>

  <section class="project-location">
    <div class="container">
      <h4 class="section_heading mb-5">
        <span class="title">موقع المشروع</span>
      </h4>
      <app-map-project-single  [DataForMap]="DataForMap"></app-map-project-single>
      <!-- Location Here  -->
    </div>
  </section>

  <section class="other-projects" *ngIf="OtherProjectsVillaType?.length>0">
    <div class="container">
      <h4 class="section_heading mb-5">
        <span class="title">مشاريع آخرى</span>
      </h4>
      <owl-carousel-o [options]="customOptions" class="villas_carousel">
        <ng-template carouselSlide *ngFor="let project of OtherProjectsVillaType">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <app-project-card [project]="project"></app-project-card>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </section>
</div>
