<!-- <div class="panorama-container">
    <app-panorama></app-panorama>
</div> -->

<section class="home">
    <div class="home__slider">
        <app-home-slider></app-home-slider>
    </div>
</section>
<!-- <app-about-section></app-about-section> -->

<!-- About Section in Home  -->
<app-about-section-facility></app-about-section-facility>

<!-- End About Section in Home  -->

<app-our-features></app-our-features>
<!-- End our Features  in Home  -->

<!-- ----add vedio--------------- -->
<app-video-player></app-video-player>


<app-recent-list [projects]="AllProjects" [projectsForSale]="projectsForSale" [projectsForSaleSoon]="projectsForSaleSoon" [isHome]="true"></app-recent-list>

<app-map></app-map>

<app-parallax></app-parallax>

<div class="slider-1 container">
    <div class="row my-5" *ngIf="OurPartners?.isActive">
        <div class="col-md-12">
            <h4 class="section-title"><span class="title">{{OurPartners?.title | translate}}</span></h4>
            <p class="" [innerHtml]="OurPartners?.description">
            </p>
        </div>
        <div class="col-md-12">
            <app-logo-slider-one [logos]="OurPartners?.sliderAttachment"></app-logo-slider-one>
        </div>
    </div>
</div>