<!-- <div class="panorama-container">
    <app-panorama></app-panorama>
</div> -->

<section class="home">
    <div class="home__slider">
        <app-home-slider></app-home-slider>
    </div>
</section>
<!-- <app-about-section></app-about-section> -->

<!-- About Section in Home  -->
<app-about-section-facility></app-about-section-facility>

<!-- End About Section in Home  -->

<app-our-features></app-our-features>
<!-- End our Features  in Home  -->

<!-- ----add vedio--------------- -->
<app-video-player></app-video-player>


<app-recent-list></app-recent-list>


<app-map></app-map>



<app-parallax></app-parallax>

<app-logo-slider-one></app-logo-slider-one>
