<div class="section-container p-0 bg-white">
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-12 p-5">
                <h4 class="text-center section-title">{{siteInformation?.projectsTitle}}</h4>
                <p class="text-center">
{{siteInformation?.projectDesc}}
                 </p>
            </div>
        </div>
    </div> -->
    <div class="map-container">
        <div class="status_div">
            <p>
                <img src="/assets/images/icons/for_sale_icon_transparent.png" alt="">
                <span>للبيع</span>
            </p>
            <p>
                <img src="/assets/images/icons/sold_icon_transparent.png" alt="">
                <span>مباع</span>
            </p>
            <p>
                <img src="/assets/images/icons/soon_icon_transparent.png" alt="">
                <span>قريبًا</span>
            </p>
        </div>
        <div class="map-frame">
            <div id="map"></div>
        </div>
    </div>
</div>
