<div class="page-banner">
    <div class="container">
        <h1 class="page-title"> {{'PrivacyPolicy' | translate}}</h1>
    </div>
</div>
<!--===== End Banner =====-->

<!--===== Start CEO =====-->
<section class="section bg-light about-text-section">
    <div class="container">
        <div class="row flex-item-center">
            <div class="col-md-12 mb-2 ">

                <div class="about-div-text">
                    <h2>الخصوصية وبيان سريّة المعلومات</h2>
                    <p>
                    <p>نقدر مخاوفكم واهتمامكم بشأن خصوصية بياناتكم على شبكة الانترنت.</p>
                    <p>لقد تم إعداد هذه السياسة لمساعدتكم في تفهم طبيعة البيانات التي نقوم بتجميعها منكم عند زيارتكم
                        لموقعنا على شبكةالانترنت
                        وكيفية تعاملنا مع هذه البيانات الشخصية.</p>
                  
                    <p>

                </div>


            </div>
            <div class="col-md-12 mb-2">

                <div class="about-div-text">
                    <h2>التصفح</h2>
                    <p>

                    <p>لم نقم بتصميم هذا الموقع من أجل تجميع بياناتك الشخصية من جهاز الكمبيوتر الخاص بك أثناء تصفحك لهذا
                        الموقع, وإنما
                        سيتم فقط استخدام البيانات المقدمة من قبلك بمعرفتك ومحض إرادتك.</p>

                    <p>

                </div>


            </div>
            <div class="col-md-12 mb-2">

                <div class="about-div-text">
                    <h2>سياسة الخصوصية و عنوان بروتوكول شبكة الانترنت (IP)</h2>
                    <p>

                    <p>في أي وقت تزور فيه اي موقع انترنت بما فيها هذا الموقع ,سيقوم السيرفر المضيف بتسجيل عنوان بروتوكول
                        شبكة
                        الانترنت (IP)الخاص بك ,تاريخ ووقت الزيارة ونوع متصفح الانترنت الذي تستخدمه والعنوان URL الخاص
                        بأي موقع
                        من مواقع الانترنت التي تقوم بإحالتك إلى هذا الموقع على الشبكة.</p>

                    <p>

                </div>


            </div>
            <div class="col-md-12 mb-2">

                <div class="about-div-text">
                    <h2> عمليات المسح على الشبكة</h2>
                    <p>

                    <p>إن عمليات المسح التي نقوم بها مباشرة على الشبكة تمكننا من تجميع بيانات محددة مثل البيانات
                        المطلوبة منك بخصوص
                        نظرتك وشعورك تجاه موقعنا.تعتبر ردودك ذات أهمية قصوى ,ومحل تقديرنا حيث أنها تمكننا من تحسين مستوى
                        موقعنا,ولك كامل الحرية واإلختيار في تقديم البيانات المتعلقة بإسمك والبيانات الاخرى.</p>

                    <p>

                </div>


            </div>
            <div class="col-md-12 mb-2">

                <div class="about-div-text">
                    <h2>الروابط بالمواقع الاخرى على شبكة الانترنت </h2>
                    <p>
                    <p> قد يشتمل موقعنا على روابط بالمواقع الاخرى على شبكة الانترنت.
                    </p>
                    <p>او اعلانات من مواقع اخرى مثل AdSense Google لا نعتبر مسئولين عن أساليب تجميع البيانات من قبل تلك
                        المواقع, يمكنك االطالع على سياسات السرية والمحتويات الخاصة بتلك المواقع التي يتم الدخول إليها من
                        خلال أي رابط
                        ضمن هذا الموقع.</p>
                    <p>
                        نحن قد نستعين بشركات اعلان لاطراف ثالثة لعرض الاعلانات عندما تزور موقعنا على الويب.
                        يحق لهذه الشركات أن تستخدم معلومات حول زياراتك لهذا الموقع ولمواقع الويب الاخرى )باستثناء الاسم
                        أو العنوان أو
                        عنوان البريد اإللكتروني أو رقم الهاتف(، وذلك من أجل تقديم اعلانات حول البضائع والخدمات التي
                        تهمك.
                    </p>
                    <p>
                        إذا كنت ترغب في مزيد من المعلومات حول هذا الامر وكذلك إذا كنت تريد معرفة الاختيارات المتاحة لك
                        لمنع استخدام هذه
                        المعلومات من قِبل هذه الشركات ،فالرجاء النقر هنا.


                    </p>

                    <p>

                </div>


            </div>
            <div class="col-md-12 mb-2">

                <div class="about-div-text">
                    <h2>سياسة الخصوصية لا تشمل إفشاء المعلومات</h2>
                    <p>

                    <p>سنحافظ في كافة الاوقات على خصوصية وسرية كافة البيانات الشخصية التي نتحصل عليها. ولن يتم إفشاء هذه
                        المعلومات
                        بموجب أي قانون أو عندما نعتقد بحسن نية
                        أن مثل هذا الاجراء سيكون مطلوباً أو و مرغوباً
                        فيه للتمشي
                        مع القانون , أو للدفاع عن أو حماية حقوق الملكية الخاصة بهذا الموقع أو الجهات المستفيدة منه.</p>

                    <p>

                </div>


            </div>
            <div class="col-md-12 mb-2">

                <div class="about-div-text">
                    <h2>البيانات اللازمة لتنفيذ المعاملات المطلوبة من قبلك </h2>
                    <p>

                    <p>عندما نحتاج إلى أية بيانات خاصة بك , فإننا سنطلب منك تقديمها بمحض إرادتك. حيث ستساعدنا هذه
                        المعلومات في الاتصال بك وتنفيذ طلباتك
                        حيثما كان ذلك ممكننا.</p>

                    <p>
                        لن يتم اطلاقا
                        بيع البيانات المقدمة من قبلك إلى أي طرف ثالث بغرض تسويقها لمصلحته الخاصة دون الحصول على
                       
                        موافقتك المسبقة والمكتوبة ما لم يتم ذلك على أساس أنها ضمن بيانات جماعية تستخدم للأغراض  الاحصائية
                        و الأبحاث دون
                        اشتمالها على أية بيانات من الممكن استخدامها للتعريف بك.

                    </p>

                    <p>

                </div>


            </div>
            <div class="col-md-12 mb-2">

                <div class="about-div-text">
                    <h2>عند الاتصال بنا</h2>
                    <p>
                    <p>سيتم التعامل مع كافة البيانات المقدمة من قبلك على أساس أنها سرية . تتطلب النماذج التي يتم تقديمها
                        مباشرة على الشبكة
                        تقديم البيانات التي ستساعدنا في تحسين موقعنا.سيتم استخدام البيانات التي يتم تقديمها من قبلك في
                        الرد على كافة استفساراتك
                        , ملاحظاتك , أو طلباتك من قبل هذا الموقع أو أيا من المواقع التابعة له.</p>

                    <p>

                </div>


            </div>
            <div class="col-md-12 mb-2">

                <div class="about-div-text">
                    <h2>إفشاء المعلومات لأي طرف ثالث</h2>
                    <p>

                    <p>لن نقوم ببيع , المتاجرة , تأجير , أو إفشاء أية معلومات لمصلحة أي طرف ثالث خارج هذا الموقع, أو
                        المواقع التابعة
                        له.وسيتم الكشف عن المعلومات فقط في حالة صدور أمر بذلك من قبل أي سلطة قضائية أو تنظيمية.</p>

                    <p>

                </div>


            </div>


            <div class="col-md-12 mb-2">

                <div class="about-div-text">
                    <h2>التعديلات على سياسة سرية وخصوصية المعلومات</h2>
                    <p>

                    <p>نحتفظ بالحق في تعديل بنود وشروط سياسة سرية وخصوصية المعلومات إن لزم الأمر ومتى كان ذلك ملائما
                        تنفيذ ً. سيتم
                        التعديلات هنا او على صفحة سياسة الخصوصية الرئيسية وسيتم بصفة مستمرة إخطارك بالبيانات التي حصلنا
                        عليها , وكيف
                        سنستخدمها والجهة التي سنقوم بتزويدها بهذه البيانات.</p>

                    <p>

                </div>


            </div>
            <div class="col-md-12 mb-2">

                <div class="about-div-text">
                    <h2>الاتصال بنا</h2>
                    <p>

                    <p>يمكنكم الاتصال بنا عند الحاجة من خلال الضغط على رابط اتصل بنا المتوفر في روابط موقعنا او الارسال
                        الى بريدنا
                        الالكتروني info على اسم النطاق أعلاه </p>

                    <p>

                </div>


            </div>
            <div class="col-md-12 mb-2">

                <div class="about-div-text">
                    <h2> اخيرا في سياسة الخصوصية</h2>
                    <p>

                    <p>إن مخاوفك واهتمامك بشأن سرية وخصوصية البيانات تعتبر مسألة في غاية الأهمية بالنسبة لنا. نحن نأمل
                        أن يتم تحقيق ذلك
                        من خلال هذه السياسة.
                    <p>

                </div>


            </div>

        </div>
    </div>
</section>
<!--===== End CEO =====-->



<!--===== End About =====-->