<!--===== Start Banner =====-->
<section
  class="hero-wrap"
  style="background-image: url('assets/images/banner.webp')"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row slider-text align-items-end justify-content-center">
      <div class="col-md-9 text-center mb-4">
        <h1 class="mb-2 bread">{{ "about" | translate }}</h1>
      </div>
    </div>
  </div>
</section>
<!--===== End Banner =====-->

<!--===== Start CEO =====-->
<section class="section bg-light about-text-section" *ngIf="ceoWord">
  <div class="container">
    <div class="row mb-md-5 mb-3 flex-item-center">
      <div class="col-md-6">
        <div
          class="img-container"
          [ngStyle]="{ 'background-image': 'url(' + ceoWordUrl + ')' }"
        ></div>
      </div>
      <div class="col-md-6 about-div-text">
        <h2>{{ ceoWord.title }}</h2>

        <div [innerHTML]="ceoWord.description"></div>
      </div>
    </div>
  </div>
</section>
<!--===== End CEO =====-->


<!--===== Start Project Recent  =====-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center section-title">
        {{ siteInformation?.recentListTitle }}
      </h4>
      <p class="text-center">
        {{ siteInformation?.recentListDescription }}
      </p>
    </div>
  </div>
<app-info-table [data]="AllProjects"></app-info-table>
</div>
<!--===== End  Project Recent  =====-->

<section></section>
<!--===== End About =====-->

<!--===== Start About Meeting =====-->
<section
  class="sectopn-parallex"
  *ngIf="ourMeetingBg"
  [ngStyle]="{ 'background-image': 'url(' + ourMeetingBg + ')' }"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row slider-text align-items-end justify-content-center">
      <div class="col-md-9 text-center">
        <h2>{{ ourMeeting.title }}</h2>
        <div style="color: white" [innerHTML]="ourMeeting.description"></div>
      </div>
    </div>
  </div>
</section>
<!--===== End About Meeting =====-->
