<!--===== Start Banner =====-->
<!-- <section class="hero-wrap" [ngStyle]="{'background-image': 'url(' + bannerAboutUsUrl+ ')' }">
  <div class="overlay"></div>
  <div class="container">
    <div class="row slider-text align-items-center justify-content-center">
      <div class="col-md-9 text-center">
        <h1 class="m-0 bread">{{ "about" | translate }}</h1>
      </div>
    </div>
  </div>
</section> -->
<div class="page-banner">
  <div class="container">
      <h1 class="page-title"> {{'about' | translate}}</h1>
  </div>
</div>
<!--===== End Banner =====-->

<!--===== Start CEO =====-->
<section class="section bg-light about-text-section" *ngIf="ceoWord">
  <div class="container">
    <div class="row flex-item-center">
      <div class="col-md-7">

        <div class="img-container" >
          <img [src]="ceoWordUrl" alt="">
        </div>
       

      </div>
      <div class="col-md-5">
        <div class="about-div-text">
          <h2>{{ ceoWord.title }}</h2>

          <div [innerHTML]="ceoWord.description"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--===== End CEO =====-->


<!--===== Start Project Recent  =====-->
<section class="py-5 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-3">
        <h4 class="text-center section-title">
          <span class="title">{{ siteInformation?.recentListTitle }}</span>
        </h4>
        <p class="description">
          {{ siteInformation?.recentListDescription }}
        </p>
      </div>
    </div>
    <app-info-table [data]="AllProjects"></app-info-table>

  </div>


</section>
<!--===== End  Project Recent  =====-->
<!--===== End About =====-->

<!--===== Start About Meeting =====-->
<section class="sectopn-parallex" *ngIf="ourMeetingBg" [ngStyle]="{ 'background-image': 'url(' + ourMeetingBg + ')' }">
  <div class="overlay"></div>
  <div class="container">
    <div class="row slider-text align-items-end justify-content-center">
      <div class="col-md-9 text-center">
        <h2>{{ ourMeeting.title }}</h2>
        <div style="color: white" [innerHTML]="ourMeeting.description"></div>
      </div>
    </div>
  </div>
</section>
<!--===== End About Meeting =====-->