<div class="card project-card {{viewType}}">
  <div class="img-panel">


    <!-- Villa Project -->
    <a *ngIf="project?.projectType==2; else apartmentProject" [routerLink]="['/project-villas', project.projectId]">
      <div class="img-container project">
        <img [src]="project?.coverImage ? appRootUrl+project?.coverImage : 'assets/images/home-placeHolder.webp'"
          class="card-img-top" alt="..." style="cursor: pointer;">
      </div>
    </a>


    <ng-template #apartmentProject >
      <div class="img-container project" (click)="emitClickEvent()"  [attr.data-bs-toggle]="shouldToggleModal ? 'modal' : null"   [attr.data-bs-target]="shouldToggleModal ? '#modal' + project.projectId : null" >
        <img [src]="project?.coverImage ? appRootUrl+project?.coverImage : 'assets/images/home-placeHolder.webp'"
          class="card-img-top" alt="..."  [attr.data-bs-toggle]="shouldToggleModal ? 'modal' : null"   [attr.data-bs-target]="shouldToggleModal ? '#modal' + project.projectId : null"
          style="cursor: pointer;">
      </div>
    </ng-template>



    <i class="icon tagr-icon-heart fav-icon" [attr.data-cardIco-id]="project.projectId"
      [class.active]="project.favorite" (click)="favorites.toggleFavorites(project)"></i>
    <div class="card-label "
      [class]="{'available_status': project.statusId == 1,'sold_status':project.statusId == 4, 'soon_status': project.statusId == 2}">
      {{ project.status | translate}}</div>
    <span class="edit-project" *ngIf="EditMode" [routerLink]="'../edit-project/'+project.projectId">{{'Edit' |
      translate}}</span>
    <a [href]="'https://maps.google.com/?q='+project.latitude+','+project.longitude+'&ll='+project.latitude+','+project.longitude+'&z=11'"
      target="_blank" [title]="project.projectName+' location on google map'" class="location-onMap"><i
        class="icon tagr-vector "></i></a>
    <div class="card-mask" data-bs-toggle="modal" [attr.data-bs-target]="'#modal'+project.projectId"></div>

  </div>
  <div class="card-body h-100">
    <div class="unit-location">
      <h5 class="secondary-color">{{project.projectName | translate}}</h5>
      <h6>{{project.adress | translate}}</h6>
    </div>
    <div class="unit-specs mt-auto">

      <!-- Villa Footer card  -->
      <ul class="list-inline m-0" *ngIf="project?.projectType==2; else apartmentProjectUnitSpecs">
        <li class="list-inline-item">
          <span class="specs-ele">
            <img src="../../../assets/images/villas/icons/villas.svg" alt="">
            <span class="specs-count"><span
                class="counter me-1">{{'NumVills' |
                translate}}</span>{{project.numVills??'  - '}}
              </span>
          </span>
        </li>
        <li class="list-inline-item">
          <span class="specs-ele">
            <img src="../../../assets/images/villas/icons/villas-paid.svg" alt="">
            <span class="specs-count">
              <span class="counter me-1">{{'VillaSoled'|translate}}</span>{{project.villaSoled??' - '}}</span>
          </span>
        </li>

        <li class="list-inline-item">
          <span class="specs-ele">
            <img src="../../../assets/images/villas/icons/villas-available.svg" alt="">
            <span class="specs-count">
              <span class="counter me-1">{{'VillsRemain'|translate}}</span> {{project.villsRemain??0}}</span>
          </span>
        </li>
      </ul>

      <ng-template #apartmentProjectUnitSpecs>
        <ul class="list-inline m-0">
          <li class="list-inline-item">
            <span class="specs-ele"> <i class="icon tagr-icon-building-line"></i> <span class="specs-count"><span
                  class="counter me-1">{{'Buildings' |
                  translate}}</span>{{project.numberOfBuildings}}</span>
            </span>
          </li>
          <li class="list-inline-item">
            <span class="specs-ele"> <i class="icon tagr-icon-home"></i> <span class="specs-count">
                <span class="counter me-1">{{'Appartments'|translate}}</span>{{project.numberOfUnits}}</span>
            </span>
          </li>
        </ul>
      </ng-template>

    </div>

  </div>
</div>
<app-modal [Gallery]="project.images" [modalId]="project.projectId" [projectDetails]="project"></app-modal>
