<div class="card property-card {{viewType}}" style="cursor: pointer;">
    <div class="img-panel">
        <div class="imagebox">
            <div class="img-container">
                <img [src]="propertyImageUrl" alt="">
            </div>
            <i class="icon tagr-icon-heart fav-icon" [attr.data-cardIco-id]="property.apartment_Id"
                [class.active]="property.favorite" (click)="favorites.toggleFavorites(property)"></i>
            <div class="compare" [attr.data-cardCompico-id]="property.apartment_Id" [class.active]="property.Compare"
                (click)="compare.toggleCompare(property)">{{'Compare' | translate}}</div>

            <div class="card-label"
                [class]="{'green': property.statusId == 1, 'orange': property.statusId == 2, 'pink': property.statusId == 3,  'yellow': property.statusId == 4}">
                {{property.status | translate}}</div>
            <span class="edit-project" *ngIf="EditMode"
                [routerLink]="'../edit-property/'+property.project_Ref+'/'+property.apartment_Id">{{'Edit' |
                translate}}</span>
            <div class="card-mask" *ngIf="appRootUrl && property.statusId == 1"
                [routerLink]="propertyLink+property.apartment_Id"></div>
            <div class="card-mask notLinkable" *ngIf="appRootUrl && property.statusId != 1"></div>

            <div class="unit-price">
                <h5 class="mb-0">{{property.apartment_Price | number}} {{'ر.س' | translate}}
                </h5>
            </div>
        </div>

    </div>
    <div class="card-body">
        <h5 class="unit-title">{{property.apartment_Num}}</h5>
        <div class="unit-specs">
            <ul class="list-inline m-0">
                <li class="list-inline-item">
                    <span class="text">
                        {{'apartment_Space'| translate}}<br> {{property.apartment_Space}}</span>
                </li>
                <li class="list-inline-item">
                    <span class="text mx-1"> {{'bed_Room'|
                        translate}}<br> {{property.bed_Room_Num}}</span>
                </li>
                <li class="list-inline-item" *ngIf="property.salon>0">
                    <span class="text mx-1">
                        {{'salon' | translate}}</span>
                </li>
                <li class="list-inline-item">
                    <span class="text mx-1">
                        {{'Floor'| translate}} <br>{{property.floor_Num}}
                    </span>
                </li>

            </ul>
        </div>
        <div class="unit-actions">
            <a href="#" class="btn btn-outline-primary" data-bs-toggle="modal"
                [attr.data-bs-target]="'#exampleModal'+property.apartment_Id">
                {{'more specs'| translate}}

            </a>
            <a href="#" class="btn btn-primary" data-bs-toggle="modal"
                [attr.data-bs-target]="'#place-order-apartment-form'+property.apartment_Id">
                {{'AppartmentReservation'| translate}}
            </a>
        </div>
    </div>
</div>


<div *ngIf="property" class="modal fade" [id]="'exampleModal'+property.apartment_Id" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{'more specs' | translate}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="unit-specs">
                    <ul class="list-inline m-0">
                        <li class="list-inline-item "><span class="text">{{'basic_Space'|
                                translate}} <br>{{property.basic_Space}}</span></li>
                        <li class="list-inline-item "><span class="text">{{'Additional Space:'|
                                translate}} <br>{{property.additional_Space}}</span></li>
                               
                        <li *ngIf="property.roof>0" class="list-inline-item ">
                            <span class="text">
                                {{'roof'| translate}}
                            </span>
                        </li>
                        <li *ngIf="property.p_Intrance>0" class="list-inline-item ">
                            <span class="text">{{'p_Intrance'| translate}}
                            </span>
                        </li>
                        <li *ngIf="property.dressRoom>0" class="list-inline-item "><span class="text">{{'dressRoom'|
                                translate}}
                            </span>
                        </li>
                        <li *ngIf="property.serventRoom>0" class="list-inline-item ">
                            <span class="text">{{'serventRoom'|
                                translate}} </span>
                        </li>
                        <li *ngIf="property.toilet_Num>0" class="list-inline-item ">
                            <span class="text">{{'Bathroom'| translate}}
                                <br>{{property.toilet_Num}}
                            </span>
                        </li>
                        <li *ngIf="property.store>0" class="list-inline-item ">
                            <span class="text">{{'store'| translate}}
                            </span>
                        </li>
                      
                        <li *ngIf="property.hall>0" class="list-inline-item ">
                            <span class="text">{{'hall'| translate}}
                            </span>
                        </li>

    
                        <li *ngIf="property.inter_view>0" class="list-inline-item ">
                            <span class="text">{{'Inter_view'| translate}}
                            </span>
                        </li>

                        <li *ngIf="property.fron_view>0" class="list-inline-item ">
                            <span class="text">{{'Front_view'| translate}}
                            </span>
                        </li>
                        <li *ngIf="property.parking>0" class="list-inline-item ">
                            <span class="text">{{'parking'| translate}}
                            </span>
                        </li>
                        <li *ngIf="property.kitchen>0" class="list-inline-item ">
                            <span class="text">{{'Kitchen'| translate}}
                            </span>
                        </li>
                        <li *ngIf="property.backyard>0" class="list-inline-item ">
                            <span class="text">{{'Backyard'| translate}}
                            </span>
                        </li>
                        <li *ngIf="property.trace>0" class="list-inline-item ">
                            <span class="text">{{'trace'| translate}}
                            </span>
                        </li>
                        <li *ngIf="property.washing_room>0" class="list-inline-item ">
                            <span class="text">{{'Washing_room'| translate}}
                            </span>
                        </li>
                        <li *ngIf="property.two_view>0" class="list-inline-item ">
                            <span class="text">{{'two_view'| translate}}
                            </span>
                        </li>

                        
                    </ul>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{'Close' | translate}}</button>
            </div> -->
        </div>
    </div>
</div>


<div *ngIf="property" class="modal fade" [id]="'place-order-apartment-form'+property.apartment_Id" tabindex="-1"
    aria-labelledby="PlaceOrderApartmentFormLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title unit-title" id="PlaceOrderApartmentFormLabel">{{'PlaceOrder' | translate}} -
                    {{property.apartment_Num}} </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-place-order-apartment [apartment_Id]="property?.apartment_Id"
                    [project_Ref]="property?.project_Ref"></app-place-order-apartment>
            </div>

        </div>
    </div>
</div>