$direction :rtl;
$left: right;
$right: left;
// @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap');
$fontFamily: 'Hacen-Algeria',
    sans-serif;

body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
button,
div,
li {
    font-family: $fontFamily;
}

@import './assets/scss/base/bootstrap5-rtl';
@import './styles.scss';
// @import '../node_modules/bootstrap/dist/css/bootstrap.rtl.css';
// @import '../node_modules/bootstrap/dist/css/bootstrap-utilities.rtl.css';
@import './assets/scss/base/ar';
// .short-cut-menu{
//   right: -80px !important;
// }


.containerRadio,
.form-group.input-group {
    direction: ltr;
}

a.contact {
    float: right;
}

.social {
    margin-left: 30px;
}

span.error {
    float: right;
}

.card.list .card-body {
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--main-color);
}

.card.list .unit-specs {}

// app-project-card .card.list .card-body {
//     position: absolute;
//     right: 45%;
//     top: 10px;
//     color: #86815b;
// }

.tagline-2::before {
    content: "";
    right: -60px;
}

.info-table .table {
    direction: rtl;
}

.place-order-form .containerRadio {
    float: right;
}