/* You can add global styles to this file, and also import other style files */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700%7cSource+Sans+Pro:200,400,600,700,900,400italic,700italic&amp;subset=latin,latin-ext);
@import "./assets/css/font-awesome.css";
@import "./assets/fonts/arabic-font/stylesheet.css";
//core
@import "./assets/scss/base/varibles";
@import "./assets/scss/base/_common";
//icons
@import './assets/fonts/icons/styles.css';
@import './assets/iconmoonstyle.css';
@import './assets/content/icon-moon-style/style.css';
@import "./assets/fonts/icons/styles.css";
@import "./assets/iconmoonstyle.css";
////////////
// layout
@import "./assets/scss/layout/top-header";
@import "./assets/scss/layout/header";
@import "./assets/scss/layout/footer";
// compnent
@import "./assets/scss/components/map";
@import "./assets/scss/components/panorama";
@import "./assets/scss/components/property-card";
@import "./assets/scss/components/_slider-input";
@import "./assets/scss/components/forms";
@import "./assets/scss/components/project-modal";
@import "./assets/scss/components/home-slider";
// pages
@import "./assets/scss/pages/search";
@import "./assets/scss/pages/project-details";
@import "./assets/scss/pages/home";
//toastr
@import "../node_modules/ngx-toastr/toastr.css";
// @import "../node_modules/swiper/swiper";
body {
    background: #f6f6f6;
}

:root {
    --main-color: #86815b;
}

th {
    text-align: center !important;
}

.accordion-button:focus,
.accordion-button:active {
    outline: none !important;
    outline: 0 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border: 2px solid #000 !important;
    background-color: #f6f6f6 !important;
}

.dataTables_wrapper .dataTables_filter {
    margin-bottom: 10px !important;
}

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid var(--main-color) !important;
    border-radius: 3px;
    padding: 5px;
    background-color: white !important;
}

.dataTables_wrapper .dataTables_length select {
    border: 1px solid var(--main-color) !important;
    border-radius: 3px;
    padding: 5px;
    background-color: white !important;
}

h4 {
    text-transform: capitalize;
}

i:hover {
    cursor: pointer;
}

#myTab a.active {
    color: white;
    background: var(--main-color);
}

.containerRadio input:checked~.checkmark {
    background-color: var(--main-color);
}


/* width */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}


/* Track */

::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 5px #000;
    border-radius: 0px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    // box-shadow: inset 0 0 5px #dedede;
    background: var(--main-color);
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: var(--main-color);
}

.flex-item-center {
    display: flex;
    align-items: center;
}

.order-1:not(.col-12, .col-lg-6) {
    margin-top: -60px;
}

@import "./assets/scss/base/responsive";
html {
    scroll-behavior: smooth;
}

@media only screen and (max-width: 1200px) {
    .vs {
        display: none;
    }
}

@media only screen and (min-width:768px) and (max-width:992px) {
    .bar {
        flex: 0 0 auto;
        width: 100%;
    }
    .order-1 {
        margin-top: 0px;
    }
    .unit-specs span {
        font-size: 12px;
    }
    .unit-specs span.text {
        font-size: 8px !important;
    }
    .card .img-panel .moreSpcs {
        font-size: 10px;
    }
    .card .unit-price h5 {
        font-size: .6rem;
    }
    .social {
        display: flex;
    }
    .media .icon {
        font-size: 20px !important;
    }
    .fa-blogger-b:before,
    .fa-snapchat-ghost:before {
        font-size: 11px !important;
    }
}

@media only screen and (max-width:768px) {
    .order-1 {
        margin-top: 0px;
    }
}

.section-title {
    position: relative;
    display: inline-flex;
    font-size: 35px;
    font-weight: normal;
    color: #fff;
    margin-bottom: 15px;
    // background-color: $mainColor;
    padding-inline-start: 18px;
    &::before {
        position: absolute;
        inset-block: 0;
        inset-inline-start: 0;
        content: '';
        display: inline-flex;
        width: 12px;
        height: 100%;
        background-color: #5E5E59;
    }
    .title {
        color: #fff;
        padding: 4px 16px;
        background-color: $mainColor;
    }
}

.leaflet-popup-content-wrapper {
    padding: 0 !important;
}

.leaflet-popup-content {
    margin: 0 !important;
    width: 300px !important;
}

.leaflet-popup-close-button {
    height: 40px !important;
    width: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    opacity: 1 !important;
    color: #fff !important;
    line-height: 40px !important;
    padding: 0 !important;
    inset-inline-start: 8px !important;
    inset-block-start: 8px !important;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: #86815b !important;
    }
}

.map-card {
    width: 300px;
    overflow: hidden;
    .project-img {
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
            max-height: 300px;
            object-fit: cover;
            transition: all .3s ease-in-out;
        }
        .project-status {
            position: absolute;
            inset-block-start: 8px;
            inset-inline-end: 8px;
            background-color: #86815b;
            color: #fff;
            font-size: 14px;
            padding: 8px 16px;
        }
    }
    .project-info {
        position: absolute;
        inset-inline: 0;
        inset-block-end: 0;
        background-color: rgba(0, 0, 0, .5);
        text-align: center;
        padding: 4px;
        transition: all .3s ease-in-out;
        .project-title {
            color: #fff;
            margin-bottom: 8px;
            font-size: 16px;
        }
        .project-city {
            color: #fff;
            font-size: 14px;
        }
    }
    &:hover {
        .project-img {
            img {
                transform: scale(1.12);
            }
        }
        .project-info {
            background-color: #86815b;
        }
    }
}

.page-banner{
    display: flex;
    align-items: center;
    height: 120px;
    margin-bottom: 24px;
    color: #fff;
    background: #86815b;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='61.674' height='83.654' viewBox='0 0 61.674 83.654'%3E%3Cpath id='pattern' d='M29.479,82.654A9.89,9.89,0,0,1,22,78.8a10.33,10.33,0,0,1-7.481,3.856H2.01V40.025a1.436,1.436,0,0,0-1.443-1.4H0V36.648H10.119v1.976H9.552c-.774,0-1.394.322-1.394,1.1V76.54h6.025a4.728,4.728,0,0,0,4.724-4.722V58.368a1.375,1.375,0,0,0-1.371-1.4h-.567V54.92H26.989v2.048h-.566a1.408,1.408,0,0,0-1.409,1.4v13.45a4.728,4.728,0,0,0,4.724,4.722h5.983V40.025a1.465,1.465,0,0,0-1.474-1.4H33.68V36.648H43.824v1.976h-.567a1.419,1.419,0,0,0-1.423,1.4V82.654Zm23.112-.016V58.162a1.375,1.375,0,0,0-1.37-1.4h-.567V54.713H60.674V56.76h-.566a1.408,1.408,0,0,0-1.409,1.4V82.638ZM50.555,46.246V44.27h.567c.774,0,1.394-.323,1.394-1.1V6.354H46.492a4.729,4.729,0,0,0-4.724,4.723V24.526a1.375,1.375,0,0,0,1.371,1.4H43.7v2.047H33.685V25.927h.566a1.407,1.407,0,0,0,1.409-1.4V11.077a4.728,4.728,0,0,0-4.723-4.723H24.953V42.869a1.465,1.465,0,0,0,1.474,1.4h.566v1.976H16.85V44.27h.567a1.42,1.42,0,0,0,1.423-1.4V.241H31.195A9.888,9.888,0,0,1,38.676,4.1,10.335,10.335,0,0,1,46.157.241H58.664V42.869a1.439,1.439,0,0,0,1.444,1.4h.566v1.976ZM0,27.924V25.877H.567a1.406,1.406,0,0,0,1.408-1.4V0H8.084V24.476a1.374,1.374,0,0,0,1.37,1.4h.566v2.048Z' transform='translate(0.5 0.5)' fill='rgba(255,255,255,0.02)' stroke='rgba(0,0,0,0)' stroke-miterlimit='10' stroke-width='1'/%3E%3C/svg%3E%0A");
    .page-title{
        color: #fff;
    }
}